<!DOCTYPE html>
<html lang="en" ng-app="movieApp">
<head>
  <meta charset="UTF-8">
  <title>Movie Search App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script>
    var app = angular.module("movieApp", []);
    app.controller("movieCtrl", function($scope, $http) {
      $scope.searchTerm = "";
      $scope.search = function() {
        $http.get("http://www.omdbapi.com/?apikey=YOUR_API_KEY&s=" + $scope.searchTerm)
        .then(function(response) {
          $scope.movies = response.data.Search;
        });
      };
    });
  </script>
</head>
<body ng-controller="movieCtrl">
  <h1>Movie Search App</h1>
  <form ng-submit="search()">
    <input type="text" ng-model="searchTerm" placeholder="Search for a movie...">
    <button type="submit">Search</button>
  </form>
  <ul>
    <li ng-repeat="movie in movies">
      <h2>{{ movie.Title }}</h2>
      <p>{{ movie.Year }}</p>
      <img ng-src="{{ movie.Poster }}">
    </li>
  </ul>
</body>
</html>
